<b><font size="5">Pandas Dataframes: Charachteristics and Manipulation</font></b>
<br><br>
In this notebook, we will take at some additional aspects of what can be done using the very flexible constructs that are pandas dataframes. As per usual, you are encouraged to complement your knowledge using the documentation that is available online:<br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

### <font color='#BFD72F'>Table of Contents </font> <a class="anchor" id='toc'></a> 
- [0. Importing packages and Data](#P0) 
- [1. Data Exploration](#P1) 
    - [Attributes](#P1.1)
    - [Basic inspection](#P1.2)
    - [Descriptive statistics](#P1.3)
- [2. Grouping and Aggregation](#P2) 
- [3. Cross tabulation and Pivoting](#P3)
    - [CrossTab](#P3.1)
    - [Pivot Tables](#P3.2)
- [4. Grabbing subsets - Advanced options](#P4)
- [5. Try it out](#P5)

### <font color='#BFD72F'>0. Importing packages and Data</font> <a class="anchor" id="P0"></a>
  [Back to TOC](#toc)

The first step you should take in any Data Science project that with jupyter notebooks should be importing the packages and data that you intend to use. In this notebook we will exclusively used the *pandas* package. However, in the real world, you will regularly find projects where you will need to call dozens of different packages and/or functions.<br>
While importing packages as you go is possible, importing every package right from the start is considered a *good practice* as it will allow you to keep your notebooks clean and organized, which will definitely come in handy in situations where you need to revisit a notebook.

  <b>Step 0.1</b>: Import *pandas* and *numpy*

In [44]:
from sys import modules as notebook_modules

import pandas as pd
import numpy as np

print(f"Pandas version: {pd.__version__}\nNumPy version: {np.__version__}")

Pandas version: 2.2.2
NumPy version: 1.26.4

  <b>Step 0.2</b>: Import the csv file *pop_censuspt_2021.csv* that is stored in folder *data* and store it in variable *population*.

In [45]:
#always pay attention to the path and the separator used in the csv (Portuguese csvs by default use ";"" instead of ",")
population = pd.read_csv(r"./data/pop_censuspt_2021.csv", sep=";")

### <font color='#BFD72F'>1. Data Exploration</font> <a class="anchor" id="P1"></a>
  [Back to TOC](#toc)

Every problem has its own intrincacies so whenever you start working with new data, you should take the time to get yourself familiar with it, what variables are present and what the meaning of each variable is. In this notebook, we will use an adapted version of the Population Census 2021 collected from Instituto Nacional de Estat√≠stica (INE). For every parish, you will find the official population numbers stratified by sex and age group bracket. For every parish, there are 8 rows (Age brackets: 0-14, 15-24, 25-64, 65 or older for both males and females).

In this section, we will use different pandas methods to explore the data and get a better understanding of it.

#### Attributes <a class="anchor" id="P1.1"></a>

A pandas dataframe is a two-dimensional data structure, i.e., it is a table with rows and columns, each having its own index. You can tell the number of rows and columns of a dataframe by using the `shape` attribute.

**Step 1.1** Use the `shape` attribute to find out the number of rows and columns of the dataframe.

In [46]:
#[number of rows, number of columns]
population.shape

(24728, 10)

To be able to tell the index of the dataset you can use the `index` attribute on the dataframe.

**Step 1.2** Use the *columns* attribute to see the columns of the dataframe.

In [47]:
population.index

RangeIndex(start=0, stop=24728, step=1)

To access the names of the columns in the dataset you can use the `columns` attribute on the dataframe.

**Step 1.3** Use the *columns* attribute to see the columns of the dataframe.

In [48]:
population.columns.tolist()

['Year',
 'Location_Code',
 'District',
 'Municipality',
 'Parish',
 'Sex',
 'Age',
 'Population',
 'Notes',
 'Population_corrected']

Using `dtypes` you can also access the names of the different columns whilst also knowing the datatype they contain.

**Step 1.4** Use the `dtypes` attribute to print the names of the columns and their datatypes.

In [49]:
population.dtypes

Year                      int64
Location_Code            object
District                 object
Municipality             object
Parish                   object
Sex                      object
Age                      object
Population                int64
Notes                   float64
Population_corrected      int64
dtype: object

In [50]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24728 entries, 0 to 24727
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  24728 non-null  int64
 1   Location_Code         24728 non-null  object
 2   District              24728 non-null  object
 3   Municipality          24728 non-null  object
 4   Parish                24728 non-null  object
 5   Sex                   24728 non-null  object
 6   Age                   24728 non-null  object
 7   Population            24728 non-null  int64
 8   Notes                 0 non-null      float64
 9   Population_corrected  24728 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 1.9+ MB

In [51]:
#in case you want to change a dtype you can use the astype()-method
#eventhough it makes more sense to keep year as an integer, here is the general idea:
population['Year'] = population['Year'].astype('float')

**Exercise**

In some cases, columns may come with a name that is not suitable for your analysis. For example, the column `Age` may intuitively imply that it should be numerical (as age is generally represented by a number). Later in this notebook, you will be able to tell column `Age` is constituted by different age brackets. In this case, it would be more appropriate to rename the column `Age` to `Age_bracket`.

**Step 1.5** Rename the column `Age` to `Age_bracket` in the `population` dataframe.

As there are multiple ways to rename columns, we will start with the creation of a copy of the dataframe.
**Step 1.5.0** Run the cell below to create 2 distinct copies of the `population` dataframe.

In [52]:
#creating 2 copies of the population dataframe
population_copy_1 = population.copy()
population_copy_2 = population.copy()

**Step 1.5.1** Edit the name of column `Age` in `population_copy_1` exclusively using the `columns` attribute and lists.

**Step 1.5.1.1** Create a list of the column names of `population_copy_1` using the `columns` attribute.

In [53]:
column_list = population_copy_1.columns.tolist()
type(column_list)

list

**Step 1.5.2.2** Use list indexing to edit "Age" to "Age_bracket".

In [54]:
column_list[-4] = "Age_bracket"

**Step 1.5.1.3** Assign the updated list of column names as the new columns attribute of `population_copy_1`

In [55]:
population_copy_1.columns = column_list

**Step 1.5.1.4** Check whether your changes took effect by looking at the columns of `population_copy_1`

In [56]:
population_copy_1

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Notes,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,F,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,M,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,M,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,M,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,M,25 - 64 year old,346,NaN,346
...,...,...,...,...,...,...,...,...,...,...
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",M,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,F,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,F,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,F,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,M,15 - 24 year old,68,NaN,68

An alternative method that allows you to edit the name of one or more columns is through the `rename()` method. You can access its documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

**Step 1.5.2.1** Use the method `rename()` to change `Age` to `Age_bracket` in `population_copy_2`.

In [57]:
#Note - You will need to expliclty say that you want to change a column, which column to change and the new name of the column
population_copy_2.rename(mapper={"Age":"Age_bracket"}, axis=1, inplace=True)

# Alternatively I can do simply (column=dict)...

**Step 1.5.2.2** Check whether your changes took effect by looking at the columns of `population_copy_2`.

In [58]:
population_copy_2

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Notes,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,F,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,M,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,M,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,M,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,M,25 - 64 year old,346,NaN,346
...,...,...,...,...,...,...,...,...,...,...
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",M,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,F,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,F,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,F,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,M,15 - 24 year old,68,NaN,68

**Step 1.5.3** Using one of the methods above (or another method you can come up with), rename columns `Age` and `Notes` on the original dataframe `population` to `Age_bracket` and `Comments`. Run all the code in a single cell (including verification).

In [59]:
#changing column names
population.rename(mapper={"Age": "Age_bracket", "Notes":"Comments"}, axis=1, inplace=True)

#checking
print(population.columns.tolist())

['Year', 'Location_Code', 'District', 'Municipality', 'Parish', 'Sex', 'Age_bracket', 'Population', 'Comments', 'Population_corrected']

#### Basic Inspection <a class="anchor" id="P1.2"></a>

More than just having the shape of the data, it is important to know what the data looks like. There are multiple methods that allow you to that and this section will cover the most important ones.

**Step 1.6** Use the method `head` on dataframe `population` to look at the first rows of a dataframe (default = 5).

In [60]:
population.head()

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,F,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,M,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,M,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,M,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,M,25 - 64 year old,346,NaN,346

In [61]:
#While checking the head you notice that you prefer explicitly stating the Sex instead of using 'F' and 'M'

#so you check the unique values covered in Sex
print(population['Sex'].unique())
#in this case it's just F/M, so we can replace using the following
population['Sex'] = population['Sex'].replace({'M': 'Male', 'F': 'Female'})

['F' 'M']

In [62]:
list(population['Sex'].unique())

# nunique returns dimension of the list...

['Female', 'Male']

**Step 1.6.1** Use, again, the method `head` on dataframe `population` to look at the first 50 rows.

In [63]:
population.head(50)

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,Female,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,Male,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,Male,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,Male,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,25 - 64 year old,346,NaN,346
5,2021.0,90628,Guarda,Gouveia,Uni√£o das freguesias de Rio Torto e Lagarinhos,Female,0 - 14 year old,26,NaN,26
6,2021.0,130811,Porto,Matosinhos,"Uni√£o das freguesias de Cust√≥ias, Le√ßa do Bali...",Male,15 - 24 year old,2332,NaN,2332
7,2021.0,30301,Braga,Braga,Ada√∫fe,Male,25 - 64 year old,1026,NaN,1026
8,2021.0,30922,Braga,P√≥voa de Lanhoso,Santo Emili√£o,Male,15 - 24 year old,47,NaN,47
9,2021.0,151101,Set√∫bal,Sesimbra,Sesimbra (Castelo),Female,25 - 64 year old,5456,NaN,5456
10,2021.0,150803,Set√∫bal,Palmela,Pinhal Novo,Female,15 - 24 year old,1533,NaN,1533
11,2021.0,30931,Braga,P√≥voa de Lanhoso,Uni√£o das freguesias de Calvos e Frades,Female,25 - 64 year old,188,NaN,188
12,2021.0,160820,Viana do Castelo,Valen√ßa,"Uni√£o das freguesias de Valen√ßa, Cristelo Covo...",Female,0 - 14 year old,333,NaN,333
13,2021.0,160816,Viana do Castelo,Valen√ßa,Verdoejo,Male,15 - 24 year old,16,NaN,16
14,2021.0,61310,Coimbra,Penacova,Sazes do Lorv√£o,Male,65 and older,98,NaN,98
15,2021.0,160218,Viana do Castelo,Arcos de Valdevez,Vilar de Mouros,Female,65 and older,111,NaN,111
16,2021.0,181908,Viseu,Tabua√ßo,Longa,Female,0 - 14 year old,4,NaN,4
17,2021.0,160130,Viana do Castelo,Arcos de Valdevez,Rio Frio,Female,25 - 64 year old,105,NaN,105
18,2021.0,40604,Bragan√ßa,Miranda do Douro,Duas Igrejas,Male,65 and older,132,NaN,132
19,2021.0,111323,Lisboa,Torres Vedras,Uni√£o das freguesias de Carvoeira e Carm√µes,Female,15 - 24 year old,110,NaN,110
20,2021.0,50205,Castelo Branco,Castelo Branco,Castelo Branco,Male,15 - 24 year old,1842,NaN,1842
21,2021.0,120504,Portalegre,Castelo de Vide,S√£o Jo√£o Baptista,Female,65 and older,196,NaN,196
22,2021.0,131506,Porto,Valongo,Uni√£o das freguesias de Campo e Sobrado,Male,65 and older,1242,NaN,1242
23,2021.0,20210,Beja,Almod√¥var,Uni√£o das freguesias de Santa Clara-a-Nova e G...,Male,25 - 64 year old,184,NaN,184
24,2021.0,40210,Bragan√ßa,Bragan√ßa,Coelhoso,Female,15 - 24 year old,6,NaN,6
25,2021.0,70903,√âvora,Portel,Monte do Trigo,Male,15 - 24 year old,65,NaN,65
26,2021.0,31406,Braga,Vizela,Vizela (Santo Adri√£o),Female,0 - 14 year old,122,NaN,122
27,2021.0,91136,Guarda,Sabugal,Vale de Espinho,Male,15 - 24 year old,8,NaN,8
28,2021.0,171230,Vila Real,Valpa√ßos,Veiga de Lila,Female,25 - 64 year old,55,NaN,55
29,2021.0,131141,Porto,Penafiel,Guilhufe e Urr√¥,Female,25 - 64 year old,1143,NaN,1143
30,2021.0,20522,Beja,Beja,Uni√£o das freguesias de Salvada e Quintos,Female,15 - 24 year old,55,NaN,55
31,2021.0,131701,Porto,Vila Nova de Gaia,Arcozelo,Female,15 - 24 year old,751,NaN,751
32,2021.0,60406,Coimbra,Condeixa-a-Nova,Ega,Male,65 and older,324,NaN,324
33,2021.0,40218,Bragan√ßa,Bragan√ßa,Gostei,Male,0 - 14 year old,13,NaN,13
34,2021.0,60704,Coimbra,Lous√£,Serpins,Female,15 - 24 year old,79,NaN,79
35,2021.0,70524,√âvora,√âvora,Uni√£o das freguesias de Malagueira e Horta das...,Female,25 - 64 year old,6052,NaN,6052
36,2021.0,320101,Ilha de Porto Santo,Porto Santo,Porto Santo,Female,65 and older,539,NaN,539
37,2021.0,160915,Viana do Castelo,Viana do Castelo,Lanheses,Female,65 and older,291,NaN,291
38,2021.0,31013,Braga,Terras de Bouro,Rio Caldo,Male,0 - 14 year old,39,NaN,39
39,2021.0,90759,Guarda,Guarda,Jarmelo S√£o Miguel,Male,25 - 64 year old,62,NaN,62
40,2021.0,50338,Castelo Branco,Covilh√£,Uni√£o das freguesias de Vale Formoso e Aldeia ...,Female,0 - 14 year old,32,NaN,32
41,2021.0,111122,Lisboa,Sintra,Uni√£o das freguesias de Agualva e Mira-Sintra,Female,65 and older,4973,NaN,4973
42,2021.0,100618,Leiria,Caldas da Rainha,Uni√£o das freguesias de Caldas da Rainha - San...,Female,25 - 64 year old,3564,NaN,3564
43,2021.0,180908,Viseu,Nelas,Lapa do Lobo,Male,0 - 14 year old,29,NaN,29
44,2021.0,130906,Porto,Pa√ßos de Ferreira,Figueir√≥,Female,0 - 14 year old,165,NaN,165
45,2021.0,40534,Bragan√ßa,Macedo de Cavaleiros,Vale de Prados,Male,25 - 64 year old,110,NaN,110
46,2021.0,141904,Santar√©m,Torres Novas,Chancelaria,Female,25 - 64 year old,339,NaN,339
47,2021.0,80808,Faro,Loul√©,Loul√© (S√£o Clemente),Male,65 and older,1657,NaN,1657
48,2021.0,40822,Bragan√ßa,Mogadouro,Vale da Madre,Female,0 - 14 year old,7,NaN,7
49,2021.0,30617,Braga,Esposende,Uni√£o das freguesias de Belinho e Mar,Female,25 - 64 year old,798,NaN,798

**Step 1.6.2** Use, again, the method `head` on dataframe `population` to look at the first 100 rows.

In [64]:
population.head(100)

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,Female,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,Male,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,Male,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,Male,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,25 - 64 year old,346,NaN,346
...,...,...,...,...,...,...,...,...,...,...
95,2021.0,470101,Ilha do Faial,Horta,Capelo,Male,0 - 14 year old,32,NaN,32
96,2021.0,140120,Santar√©m,Abrantes,Uni√£o das freguesias de Abrantes (S√£o Vicente ...,Female,65 and older,2193,NaN,2193
97,2021.0,180409,Viseu,Cinf√£es,Nespereira,Female,25 - 64 year old,424,NaN,424
98,2021.0,110658,Lisboa,Lisboa,Bel√©m,Female,15 - 24 year old,798,NaN,798
99,2021.0,90764,Guarda,Guarda,Uni√£o de freguesias de Pousade e Albardo,Male,25 - 64 year old,50,NaN,50

That's not good. It seems that you wanted to see to many rows at once. While circumstancial, you might run in situations such as these. To circumvent it, you can use the following code to extend the viewing limits of pandas.

In [65]:
with pd.option_context('display.max_rows', None):
    display(population.head(100))

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,Female,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,Male,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,Male,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,Male,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,25 - 64 year old,346,NaN,346
5,2021.0,90628,Guarda,Gouveia,Uni√£o das freguesias de Rio Torto e Lagarinhos,Female,0 - 14 year old,26,NaN,26
6,2021.0,130811,Porto,Matosinhos,"Uni√£o das freguesias de Cust√≥ias, Le√ßa do Bali...",Male,15 - 24 year old,2332,NaN,2332
7,2021.0,30301,Braga,Braga,Ada√∫fe,Male,25 - 64 year old,1026,NaN,1026
8,2021.0,30922,Braga,P√≥voa de Lanhoso,Santo Emili√£o,Male,15 - 24 year old,47,NaN,47
9,2021.0,151101,Set√∫bal,Sesimbra,Sesimbra (Castelo),Female,25 - 64 year old,5456,NaN,5456
10,2021.0,150803,Set√∫bal,Palmela,Pinhal Novo,Female,15 - 24 year old,1533,NaN,1533
11,2021.0,30931,Braga,P√≥voa de Lanhoso,Uni√£o das freguesias de Calvos e Frades,Female,25 - 64 year old,188,NaN,188
12,2021.0,160820,Viana do Castelo,Valen√ßa,"Uni√£o das freguesias de Valen√ßa, Cristelo Covo...",Female,0 - 14 year old,333,NaN,333
13,2021.0,160816,Viana do Castelo,Valen√ßa,Verdoejo,Male,15 - 24 year old,16,NaN,16
14,2021.0,61310,Coimbra,Penacova,Sazes do Lorv√£o,Male,65 and older,98,NaN,98
15,2021.0,160218,Viana do Castelo,Arcos de Valdevez,Vilar de Mouros,Female,65 and older,111,NaN,111
16,2021.0,181908,Viseu,Tabua√ßo,Longa,Female,0 - 14 year old,4,NaN,4
17,2021.0,160130,Viana do Castelo,Arcos de Valdevez,Rio Frio,Female,25 - 64 year old,105,NaN,105
18,2021.0,40604,Bragan√ßa,Miranda do Douro,Duas Igrejas,Male,65 and older,132,NaN,132
19,2021.0,111323,Lisboa,Torres Vedras,Uni√£o das freguesias de Carvoeira e Carm√µes,Female,15 - 24 year old,110,NaN,110
20,2021.0,50205,Castelo Branco,Castelo Branco,Castelo Branco,Male,15 - 24 year old,1842,NaN,1842
21,2021.0,120504,Portalegre,Castelo de Vide,S√£o Jo√£o Baptista,Female,65 and older,196,NaN,196
22,2021.0,131506,Porto,Valongo,Uni√£o das freguesias de Campo e Sobrado,Male,65 and older,1242,NaN,1242
23,2021.0,20210,Beja,Almod√¥var,Uni√£o das freguesias de Santa Clara-a-Nova e G...,Male,25 - 64 year old,184,NaN,184
24,2021.0,40210,Bragan√ßa,Bragan√ßa,Coelhoso,Female,15 - 24 year old,6,NaN,6
25,2021.0,70903,√âvora,Portel,Monte do Trigo,Male,15 - 24 year old,65,NaN,65
26,2021.0,31406,Braga,Vizela,Vizela (Santo Adri√£o),Female,0 - 14 year old,122,NaN,122
27,2021.0,91136,Guarda,Sabugal,Vale de Espinho,Male,15 - 24 year old,8,NaN,8
28,2021.0,171230,Vila Real,Valpa√ßos,Veiga de Lila,Female,25 - 64 year old,55,NaN,55
29,2021.0,131141,Porto,Penafiel,Guilhufe e Urr√¥,Female,25 - 64 year old,1143,NaN,1143
30,2021.0,20522,Beja,Beja,Uni√£o das freguesias de Salvada e Quintos,Female,15 - 24 year old,55,NaN,55
31,2021.0,131701,Porto,Vila Nova de Gaia,Arcozelo,Female,15 - 24 year old,751,NaN,751
32,2021.0,60406,Coimbra,Condeixa-a-Nova,Ega,Male,65 and older,324,NaN,324
33,2021.0,40218,Bragan√ßa,Bragan√ßa,Gostei,Male,0 - 14 year old,13,NaN,13
34,2021.0,60704,Coimbra,Lous√£,Serpins,Female,15 - 24 year old,79,NaN,79
35,2021.0,70524,√âvora,√âvora,Uni√£o das freguesias de Malagueira e Horta das...,Female,25 - 64 year old,6052,NaN,6052
36,2021.0,320101,Ilha de Porto Santo,Porto Santo,Porto Santo,Female,65 and older,539,NaN,539
37,2021.0,160915,Viana do Castelo,Viana do Castelo,Lanheses,Female,65 and older,291,NaN,291
38,2021.0,31013,Braga,Terras de Bouro,Rio Caldo,Male,0 - 14 year old,39,NaN,39
39,2021.0,90759,Guarda,Guarda,Jarmelo S√£o Miguel,Male,25 - 64 year old,62,NaN,62
40,2021.0,50338,Castelo Branco,Covilh√£,Uni√£o das freguesias de Vale Formoso e Aldeia ...,Female,0 - 14 year old,32,NaN,32
41,2021.0,111122,Lisboa,Sintra,Uni√£o das freguesias de Agualva e Mira-Sintra,Female,65 and older,4973,NaN,4973
42,2021.0,100618,Leiria,Caldas da Rainha,Uni√£o das freguesias de Caldas da Rainha - San...,Female,25 - 64 year old,3564,NaN,3564
43,2021.0,180908,Viseu,Nelas,Lapa do Lobo,Male,0 - 14 year old,29,NaN,29
44,2021.0,130906,Porto,Pa√ßos de Ferreira,Figueir√≥,Female,0 - 14 year old,165,NaN,165
45,2021.0,40534,Bragan√ßa,Macedo de Cavaleiros,Vale de Prados,Male,25 - 64 year old,110,NaN,110
46,2021.0,141904,Santar√©m,Torres Novas,Chancelaria,Female,25 - 64 year old,339,NaN,339
47,2021.0,80808,Faro,Loul√©,Loul√© (S√£o Clemente),Male,65 and older,1657,NaN,1657
48,2021.0,40822,Bragan√ßa,Mogadouro,Vale da Madre,Female,0 - 14 year old,7,NaN,7
49,2021.0,30617,Braga,Esposende,Uni√£o das freguesias de Belinho e Mar,Female,25 - 64 year old,798,NaN,798
50,2021.0,131636,Porto,Vila do Conde,Uni√£o das freguesias de Touguinha e Touguinh√≥,Male,15 - 24 year old,170,NaN,170
51,2021.0,171409,Vila Real,Vila Real,Folhadela,Male,25 - 64 year old,546,NaN,546
52,2021.0,180412,Viseu,Cinf√£es,Santiago de Pi√£es,Male,0 - 14 year old,117,NaN,117
53,2021.0,181615,Viseu,S√£o Pedro do Sul,Serrazes,Male,65 and older,134,NaN,134
54,2021.0,181208,Viseu,Penedono,P√≥voa de Penela,Male,25 - 64 year old,76,NaN,76
55,2021.0,310310,Ilha da Madeira,Funchal,Funchal (S√©),Male,25 - 64 year old,711,NaN,711
56,2021.0,50416,Castelo Branco,Fund√£o,Fatela,Male,25 - 64 year old,116,NaN,116
57,2021.0,110618,Lisboa,Lisboa,Lumiar,Female,65 and older,5694,NaN,5694
58,2021.0,10805,Aveiro,Estarreja,Pardilh√≥,Male,65 and older,400,NaN,400
59,2021.0,430201,Ilha Terceira,Vila da Praia da Vit√≥ria,Agualva,Female,25 - 64 year old,347,NaN,347
60,2021.0,40727,Bragan√ßa,Mirandela,S√£o Pedro Velho,Female,65 and older,87,NaN,87
61,2021.0,30212,Braga,Barcelos,Balug√£es,Female,65 and older,88,NaN,88
62,2021.0,71103,√âvora,Reguengos de Monsaraz,Monsaraz,Male,25 - 64 year old,174,NaN,174
63,2021.0,420103,Ilha de S√£o Miguel,Lagoa,Lagoa (Nossa Senhora do Ros√°rio),Male,15 - 24 year old,323,NaN,323
64,2021.0,91032,Guarda,Pinhel,Alto do Palurdo,Male,15 - 24 year old,8,NaN,8
65,2021.0,141809,Santar√©m,Tomar,Paialvo,Female,15 - 24 year old,99,NaN,99
66,2021.0,180807,Viseu,Mort√°gua,Pala,Male,25 - 64 year old,213,NaN,213
67,2021.0,310604,Ilha da Madeira,Porto Moniz,Seixal,Male,25 - 64 year old,168,NaN,168
68,2021.0,101509,Leiria,Pombal,Pombal,Male,25 - 64 year old,4235,NaN,4235
69,2021.0,70522,√âvora,√âvora,Uni√£o das freguesias de Bacelo e Senhora da Sa√∫de,Female,15 - 24 year old,882,NaN,882
70,2021.0,310704,Ilha da Madeira,Ribeira Brava,Tabua,Male,15 - 24 year old,69,NaN,69
71,2021.0,91032,Guarda,Pinhel,Alto do Palurdo,Female,0 - 14 year old,2,NaN,2
72,2021.0,430118,Ilha Terceira,Angra do Hero√≠smo,Terra Ch√£,Male,15 - 24 year old,203,NaN,203
73,2021.0,30806,Braga,Guimar√£es,Barco,Female,0 - 14 year old,96,NaN,96
74,2021.0,50436,Castelo Branco,Fund√£o,Uni√£o das freguesias de Vale de Prazeres e Mat...,Male,0 - 14 year old,30,NaN,30
75,2021.0,160221,Viana do Castelo,Arcos de Valdevez,"Uni√£o das freguesias de Arga (Baixo, Cima e S√£...",Female,65 and older,54,NaN,54
76,2021.0,30878,Braga,Guimar√£es,Uni√£o das freguesias de At√£es e Rendufe,Female,0 - 14 year old,170,NaN,170
77,2021.0,91304,Guarda,Trancoso,Cogula,Female,0 - 14 year old,6,NaN,6
78,2021.0,141634,Santar√©m,Santar√©m,Uni√£o das freguesias de S√£o Vicente do Paul e ...,Male,65 and older,374,NaN,374
79,2021.0,182310,Viseu,Viseu,Cota,Female,15 - 24 year old,24,NaN,24
80,2021.0,160323,Viana do Castelo,Melga√ßo,Uni√£o das freguesias de Vila e Roussas,Male,25 - 64 year old,532,NaN,532
81,2021.0,10936,Aveiro,Santa Maria da Feira,Uni√£o de freguesias de S√£o Miguel de Souto e M...,Male,0 - 14 year old,374,NaN,374
82,2021.0,30740,Braga,Fafe,"Uni√£o de freguesias de Ardeg√£o, Arnozela e Sei...",Female,25 - 64 year old,264,NaN,264
83,2021.0,30208,Braga,Barcelos,Alvelos,Female,25 - 64 year old,566,NaN,566
84,2021.0,30224,Braga,Barcelos,Cossourado,Female,25 - 64 year old,204,NaN,204
85,2021.0,80604,Faro,Lagoa,Porches,Female,25 - 64 year old,599,NaN,599
86,2021.0,31408,Braga,Vizela,Uni√£o das freguesias de Caldas de Vizela (S√£o ...,Female,15 - 24 year old,588,NaN,588
87,2021.0,100939,Leiria,Leiria,Uni√£o das freguesias de Santa Euf√©mia e Boa Vista,Male,65 and older,458,NaN,458
88,2021.0,130515,Porto,Lousada,Nevogilde,Female,25 - 64 year old,740,NaN,740
89,2021.0,181902,Viseu,Tabua√ßo,Arcos,Female,25 - 64 year old,46,NaN,46
90,2021.0,30104,Braga,Amares,Bico,Male,15 - 24 year old,54,NaN,54
91,2021.0,130224,Porto,Bai√£o,Uni√£o das freguesias de Loivos da Ribeira e Tr...,Female,0 - 14 year old,30,NaN,30
92,2021.0,170333,Vila Real,Chaves,S√£o Pedro de Agost√©m,Female,25 - 64 year old,338,NaN,338
93,2021.0,30517,Braga,Celorico de Basto,Rego,Male,0 - 14 year old,69,NaN,69
94,2021.0,30290,Braga,Barcelos,Uni√£o das freguesias de Alheira e Igreja Nova,Female,0 - 14 year old,85,NaN,85
95,2021.0,470101,Ilha do Faial,Horta,Capelo,Male,0 - 14 year old,32,NaN,32
96,2021.0,140120,Santar√©m,Abrantes,Uni√£o das freguesias de Abrantes (S√£o Vicente ...,Female,65 and older,2193,NaN,2193
97,2021.0,180409,Viseu,Cinf√£es,Nespereira,Female,25 - 64 year old,424,NaN,424
98,2021.0,110658,Lisboa,Lisboa,Bel√©m,Female,15 - 24 year old,798,NaN,798
99,2021.0,90764,Guarda,Guarda,Uni√£o de freguesias de Pousade e Albardo,Male,25 - 64 year old,50,NaN,50

**Step 1.7** Use the method `tail` on dataframe `population` to look at the last rows of a dataframe (default = 5).

In [66]:
population.tail()

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",Male,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,Female,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,Female,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,Female,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,15 - 24 year old,68,NaN,68

**Step 1.7.1** Use, again, the method `tail` on dataframe `population` to look at the last 50 rows.

In [67]:
population.tail(50)

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
24678,2021.0,480102,Ilha das Flores,Lajes das Flores,Faj√£zinha,Male,15 - 24 year old,2,NaN,2
24679,2021.0,181111,Viseu,Penalva do Castelo,Sezures,Female,15 - 24 year old,30,NaN,30
24680,2021.0,70304,√âvora,Borba,Borba (S√£o Bartolomeu),Male,25 - 64 year old,132,NaN,132
24681,2021.0,181917,Viseu,Tabua√ßo,Valen√ßa do Douro,Male,65 and older,37,NaN,37
24682,2021.0,151302,Set√∫bal,Sines,Porto Covo,Female,0 - 14 year old,68,NaN,68
24683,2021.0,40119,Bragan√ßa,Alf√¢ndega da F√©,Vilarelhos,Female,0 - 14 year old,9,NaN,9
24684,2021.0,30322,Braga,Braga,Lamas,Male,0 - 14 year old,67,NaN,67
24685,2021.0,11706,Aveiro,Sever do Vouga,Sever do Vouga,Male,65 and older,303,NaN,303
24686,2021.0,50901,Castelo Branco,Sert√£,Cabe√ßudo,Female,25 - 64 year old,237,NaN,237
24687,2021.0,80903,Faro,Monchique,Monchique,Male,65 and older,670,NaN,670
24688,2021.0,90721,Guarda,Guarda,Gon√ßalo Bocas,Male,25 - 64 year old,55,NaN,55
24689,2021.0,30404,Braga,Cabeceiras de Basto,Basto,Female,65 and older,67,NaN,67
24690,2021.0,61302,Coimbra,Penacova,Figueira de Lorv√£o,Female,0 - 14 year old,100,NaN,100
24691,2021.0,131210,Porto,Porto,Paranhos,Male,65 and older,4505,NaN,4505
24692,2021.0,90518,Guarda,Fornos de Algodres,"Uni√£o das freguesias de Juncais, Vila Ruiva e ...",Female,65 and older,143,NaN,143
24693,2021.0,50521,Castelo Branco,Idanha-a-Nova,Uni√£o das freguesias de Zebreira e Segura,Male,25 - 64 year old,214,NaN,214
24694,2021.0,160209,Viana do Castelo,Arcos de Valdevez,Dem,Female,65 and older,65,NaN,65
24695,2021.0,61619,Coimbra,T√°bua,Uni√£o das freguesias de Pinheiro de Coja e Med...,Female,0 - 14 year old,19,NaN,19
24696,2021.0,180707,Viseu,Moimenta da Beira,Caria,Female,0 - 14 year old,15,NaN,15
24697,2021.0,111413,Lisboa,Vila Franca de Xira,Uni√£o das freguesias de Alverca do Ribatejo e ...,Female,15 - 24 year old,1841,NaN,1841
24698,2021.0,151210,Set√∫bal,Set√∫bal,"Uni√£o das freguesias de Set√∫bal (S√£o Juli√£o, N...",Female,25 - 64 year old,10089,NaN,10089
24699,2021.0,121210,Portalegre,Nisa,Tolosa,Female,0 - 14 year old,33,NaN,33
24700,2021.0,50322,Castelo Branco,Covilh√£,Sobral de S√£o Miguel,Female,25 - 64 year old,49,NaN,49
24701,2021.0,70201,√âvora,Arraiolos,Arraiolos,Male,65 and older,330,NaN,330
24702,2021.0,182012,Viseu,Tarouca,Uni√£o das freguesias de Granja Nova e Vila Ch√£...,Male,25 - 64 year old,97,NaN,97
24703,2021.0,10919,Aveiro,Santa Maria da Feira,Pa√ßos de Brand√£o,Female,0 - 14 year old,238,NaN,238
24704,2021.0,181811,Viseu,Sernancelhe,Lamosa,Male,0 - 14 year old,8,NaN,8
24705,2021.0,81603,Faro,Vila Real de Santo Ant√≥nio,Monte Gordo,Male,25 - 64 year old,829,NaN,829
24706,2021.0,40520,Bragan√ßa,Macedo de Cavaleiros,Macedo de Cavaleiros,Male,65 and older,636,NaN,636
24707,2021.0,90628,Guarda,Gouveia,Uni√£o das freguesias de Rio Torto e Lagarinhos,Male,0 - 14 year old,34,NaN,34
24708,2021.0,171220,Vila Real,Valpa√ßos,Santa Valha,Male,25 - 64 year old,71,NaN,71
24709,2021.0,180323,Viseu,Castro Daire,"Uni√£o das freguesias de Mamouros, Alva e Ribolhos",Female,0 - 14 year old,62,NaN,62
24710,2021.0,50435,Castelo Branco,Fund√£o,Uni√£o das freguesias de P√≥voa de Atalaia e Ata...,Female,25 - 64 year old,218,NaN,218
24711,2021.0,40323,Bragan√ßa,Carrazeda de Ansi√£es,"Uni√£o das freguesias de Lavandeira, Beira Gran...",Female,15 - 24 year old,13,NaN,13
24712,2021.0,11109,Aveiro,Mealhada,"Uni√£o das freguesias da Mealhada, Ventosa do B...",Female,15 - 24 year old,309,NaN,309
24713,2021.0,121308,Portalegre,Ponte de Sor,"Uni√£o das freguesias de Ponte de Sor, Tramaga ...",Male,15 - 24 year old,526,NaN,526
24714,2021.0,40708,Bragan√ßa,Mirandela,Bou√ßa,Female,65 and older,48,NaN,48
24715,2021.0,160802,Viana do Castelo,Valen√ßa,Boiv√£o,Female,15 - 24 year old,10,NaN,10
24716,2021.0,81306,Faro,Silves,S√£o Marcos da Serra,Female,65 and older,225,NaN,225
24717,2021.0,181202,Viseu,Penedono,Beselga,Male,15 - 24 year old,11,NaN,11
24718,2021.0,30931,Braga,P√≥voa de Lanhoso,Uni√£o das freguesias de Calvos e Frades,Male,65 and older,86,NaN,86
24719,2021.0,0302FB,Braga,Barcelos,Uni√£o das freguesias de Negreiros e Chav√£o,Female,0 - 14 year old,147,NaN,147
24720,2021.0,181313,Viseu,Resende,S√£o Jo√£o de Fontoura,Male,0 - 14 year old,30,NaN,30
24721,2021.0,91028,Guarda,Pinhel,Agrega√ß√£o das freguesias Sul de Pinhel,Female,15 - 24 year old,14,NaN,14
24722,2021.0,60115,Coimbra,Arganil,Sarzedo,Female,0 - 14 year old,31,NaN,31
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",Male,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,Female,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,Female,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,Female,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,15 - 24 year old,68,NaN,68

**Step 1.7.2** Use, again, the method `tail` on dataframe `population` to look at the last 100 rows.

In [68]:
population.tail(100)

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
24628,2021.0,90210,Guarda,Almeida,Freixo,Male,65 and older,23,NaN,23
24629,2021.0,50431,Castelo Branco,Fund√£o,Enxames,Male,25 - 64 year old,99,NaN,99
24630,2021.0,180417,Viseu,Cinf√£es,Travanca,Male,25 - 64 year old,180,NaN,180
24631,2021.0,30838,Braga,Guimar√£es,Ponte,Male,65 and older,513,NaN,513
24632,2021.0,110109,Lisboa,Alenquer,Ota,Male,0 - 14 year old,93,NaN,93
...,...,...,...,...,...,...,...,...,...,...
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",Male,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,Female,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,Female,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,Female,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,15 - 24 year old,68,NaN,68

A simple, yet less discussed form at looking at the dataset using jupyter notebooks is by just the dataset outright. The dataset will be presented in a truncated format, showing the first and the last 5 rows.

In [69]:
population

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,Female,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,Male,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,Male,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,Male,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,25 - 64 year old,346,NaN,346
...,...,...,...,...,...,...,...,...,...,...
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",Male,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,Female,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,Female,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,Female,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,15 - 24 year old,68,NaN,68

If you look at the rows, it is clear that the rows do not seem to follow any particular order. We can, however, seamlessly rearrange the order of the rows using the method `sort_values()`. More information on this method can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html).

**Step 1.8** Sort dataframe `population` by the column `District` in ascending order<br>
**Note**: Sorting text will be alphabetical, however bear in mind that having accents or special characters will affect the order. For example, `√©` will be sorted after `z`.

In [70]:
population.sort_values(
    by="District",
    ascending=True
)

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
21545,2021.0,10517,Aveiro,Aveiro,Uni√£o das freguesias de Gl√≥ria e Vera Cruz,Female,25 - 64 year old,6328,NaN,6328
10318,2021.0,10610,Aveiro,Castelo de Paiva,"Uni√£o das freguesias de Raiva, Pedorido e Para√≠so",Female,25 - 64 year old,1152,NaN,1152
994,2021.0,11509,Aveiro,Ovar,"Uni√£o das freguesias de Ovar, S√£o Jo√£o, Arada ...",Male,15 - 24 year old,1646,NaN,1646
14124,2021.0,11305,Aveiro,Oliveira de Azem√©is,Macieira de Sarnes,Male,0 - 14 year old,109,NaN,109
23031,2021.0,10121,Aveiro,√Ågueda,Uni√£o das freguesias de √Ågueda e Borralha,Female,65 and older,1793,NaN,1793
...,...,...,...,...,...,...,...,...,...,...
8986,2021.0,70509,√âvora,√âvora,S√£o Miguel de Machede,Female,25 - 64 year old,180,NaN,180
21953,2021.0,70304,√âvora,Borba,Borba (S√£o Bartolomeu),Male,0 - 14 year old,24,NaN,24
4994,2021.0,70906,√âvora,Portel,Santana,Male,65 and older,56,NaN,56
17157,2021.0,71404,√âvora,Vila Vi√ßosa,Pardais,Male,65 and older,48,NaN,48
11436,2021.0,70506,√âvora,√âvora,S√£o Bento do Mato,Female,15 - 24 year old,39,NaN,39

Doing this, however, will just create view of the sorted dataset. However, the original dataset will remain unchanged.

**Step 1.8.1** Call the dataset population to see if your sorting worked

In [71]:
population

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
0,2021.0,170320,Vila Real,Chaves,Oura,Female,65 and older,100,NaN,100
1,2021.0,91205,Guarda,Seia,Girabolhos,Male,0 - 14 year old,5,NaN,5
2,2021.0,10416,Aveiro,Arouca,Santa Eul√°lia,Male,0 - 14 year old,137,NaN,137
3,2021.0,31360,Braga,Vila Verde,Uni√£o das freguesias da Ribeira do Neiva,Male,0 - 14 year old,203,NaN,203
4,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,25 - 64 year old,346,NaN,346
...,...,...,...,...,...,...,...,...,...,...
24723,2021.0,40542,Bragan√ßa,Macedo de Cavaleiros,"Uni√£o das freguesias de Espadanedo, Edroso, Mu...",Male,65 and older,76,NaN,76
24724,2021.0,140503,Santar√©m,Benavente,Santo Est√™v√£o,Female,0 - 14 year old,124,NaN,124
24725,2021.0,430101,Ilha Terceira,Angra do Hero√≠smo,Altares,Female,25 - 64 year old,235,NaN,235
24726,2021.0,171305,Vila Real,Vila Pouca de Aguiar,Capeludos,Female,0 - 14 year old,5,NaN,5
24727,2021.0,130526,Porto,Lousada,Vilar do Torno e Alent√©m,Male,15 - 24 year old,68,NaN,68

**Step 1.8.2** Try to sort the dataframe population, now in descending order on columns `District`, `Municipality` and `Parish`. Make sure that you leave set the parameter `inplace = True`. Then, call the dataset to check whether the sorting was successful.

In [72]:
#sorting
population.sort_values(
    by=["District", "Municipality", "Parish"],
    ascending=False,
    inplace=True
)
#checking changes
population

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
3232,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Female,15 - 24 year old,212,NaN,212
7672,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Male,65 and older,430,NaN,430
13912,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Male,0 - 14 year old,265,NaN,265
14498,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Female,65 and older,771,NaN,771
16065,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Male,25 - 64 year old,1052,NaN,1052
...,...,...,...,...,...,...,...,...,...,...
4904,2021.0,10209,Aveiro,Albergaria-a-Velha,Albergaria-a-Velha e Valmaior,Female,15 - 24 year old,576,NaN,576
14888,2021.0,10209,Aveiro,Albergaria-a-Velha,Albergaria-a-Velha e Valmaior,Female,0 - 14 year old,777,NaN,777
15395,2021.0,10209,Aveiro,Albergaria-a-Velha,Albergaria-a-Velha e Valmaior,Male,25 - 64 year old,2941,NaN,2941
21325,2021.0,10209,Aveiro,Albergaria-a-Velha,Albergaria-a-Velha e Valmaior,Male,15 - 24 year old,625,NaN,625
22975,2021.0,10209,Aveiro,Albergaria-a-Velha,Albergaria-a-Velha e Valmaior,Female,25 - 64 year old,3148,NaN,3148

Another important method in EDA is `info()`. It gives us the number of non-null values in each column and the data type of each column. This is useful to check if there are any missing values in the dataset.

**Step 1.9** Use the method `info()` on `population`. Are there any columns with a datatype that are nonsensical? Moreover, is there any column with missing values? Write your answer in the markdown cell below.

In [73]:
population.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24728 entries, 3232 to 22975
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  24728 non-null  float64
 1   Location_Code         24728 non-null  object
 2   District              24728 non-null  object
 3   Municipality          24728 non-null  object
 4   Parish                24728 non-null  object
 5   Sex                   24728 non-null  object
 6   Age_bracket           24728 non-null  object
 7   Population            24728 non-null  int64
 8   Comments              0 non-null      float64
 9   Population_corrected  24728 non-null  int64
dtypes: float64(2), int64(2), object(6)
memory usage: 2.1+ MB

**Answer**:

In [74]:
population.isna().sum() # Better way to see missing values....

Year                        0
Location_Code               0
District                    0
Municipality                0
Parish                      0
Sex                         0
Age_bracket                 0
Population                  0
Comments                24728
Population_corrected        0
dtype: int64

#### Descriptive statistics<a class="anchor" id="P1.3"></a>

Looking at individual rows can only tell so much, so it is useful that we have some methods that allow us to get a better sense of the data. For example, we could be interested in understanding how the population is distributed and for that, we can statistical variables such as the mean, median, standard deviation, etc.

**Step 1.9** Obtain some descriptive statistics of column `Population` (mean, median, first quartile and third quartile)

**Step 1.9.1** Calculate the mean of column `Population`

In [75]:
population['Population'].mean()

417.9555160142349

**Step 1.9.2** Calculate the median of column `Population`

In [76]:
population.Population.median()

108.0

**Step 1.9.2** Calculate the first quartile of column `Population`.
**Note:** Use the `quantile()` method. You can check how it works [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html).

In [77]:
population.Population.quantile(.25)

41.0

**Step 1.9.3** Calculate the third quartile of column `Population`.

In [78]:
population.Population.quantile(.75)

304.0

Calculating statistical properties of one, or more, variables is important in many regards. `pandas` has a very helpful method that will allow you to obtain the most relevant descriptive statistics for any variable in `describe()`.

**Step 1.9.5** Use the `describe()` method to obtain the descriptive statistics for the numerical variables of dataset `population`
**Note**: Depending on your preference, you may prefer to look at the resulting dataframe in its transposed form using `describe().T`

In [79]:
population.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,24728.0,2021.000000,0.000000,2021.0,2021.0,2021.0,2021.0,2021.0
Population,24728.0,417.955516,1134.569287,0.0,41.0,108.0,304.0,20301.0
Comments,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population_corrected,24728.0,417.955516,1134.569287,0.0,41.0,108.0,304.0,20301.0

In [80]:
population.describe(include='O').T

               count unique               top   freq
Location_Code  24728   3091             70523      8
District       24728     29             Braga   2776
Municipality   24728    306          Barcelos    488
Parish         24728   2873          Pinheiro     48
Sex            24728      2            Female  12364
Age_bracket    24728      4  15 - 24 year old   6182

In [81]:
population.describe(include='all').T
# kind of questionable...

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Year,24728.0,NaN,NaN,NaN,2021.0,0.0,2021.0,2021.0,2021.0,2021.0,2021.0
Location_Code,24728,3091,70523,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District,24728,29,Braga,2776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Municipality,24728,306,Barcelos,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parish,24728,2873,Pinheiro,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,24728,2,Female,12364,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age_bracket,24728,4,15 - 24 year old,6182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population,24728.0,NaN,NaN,NaN,417.955516,1134.569287,0.0,41.0,108.0,304.0,20301.0
Comments,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population_corrected,24728.0,NaN,NaN,NaN,417.955516,1134.569287,0.0,41.0,108.0,304.0,20301.0

Categorical variables also have their own methods. For example, you may want to know what is the `District` that appears more often or how many parishes it has.

**Step 1.10.1** Use the method `mode()` on the `District` column to find the most common district in the dataset.

In [82]:
population['District'].mode()

0    Braga
Name: District, dtype: object

**Step 1.10.2** Use the method `describe(include = 'O')` to find relevant statistics for the `object` columns in dataframe `population`

In [83]:
population.describe(include = 'O')

       Location_Code District Municipality    Parish     Sex       Age_bracket
count          24728    24728        24728     24728   24728             24728
unique          3091       29          306      2873       2                 4
top            70523    Braga     Barcelos  Pinheiro  Female  15 - 24 year old
freq               8     2776          488        48   12364              6182

**Step 1.10.3** Use the method `value_counts()` to count the number of rows that refer to each district.

In [84]:
#CODE HERE
population.District.value_counts()

District
Braga                  2776
Viseu                  2216
Porto                  1944
Guarda                 1936
Bragan√ßa               1808
Viana do Castelo       1664
Vila Real              1576
Coimbra                1240
Aveiro                 1168
Santar√©m               1128
Lisboa                 1072
Castelo Branco          960
Leiria                  880
Beja                    600
√âvora                   552
Portalegre              552
Faro                    536
Ilha de S√£o Miguel      512
Set√∫bal                 440
Ilha da Madeira         424
Ilha Terceira           240
Ilha do Pico            136
Ilha do Faial           104
Ilha das Flores          88
Ilha de S√£o Jorge        88
Ilha de Santa Maria      40
Ilha da Graciosa         32
Ilha de Porto Santo       8
Ilha do Corvo             8
Name: count, dtype: int64

Is this the number of parishes per district? 

**Step 1.10.3** Validate the claim that each parish is represented by 8 rows using value counts.<br>
**Hint**: You can use value_counts on multiple columns simultaneously

In [85]:
population[['District', 'Municipality', 'Parish']].value_counts()

District  Municipality        Parish
Aveiro    Albergaria-a-Velha  Albergaria-a-Velha e Valmaior                                              8
Porto     Paredes             Vandoma                                                                    8
          Penafiel            Guilhufe e Urr√¥                                                            8
                              Irivo                                                                      8
                              Lagares e Figueira                                                         8
                                                                                                        ..
Coimbra   Penacova            Carvalho                                                                   8
                              Figueira de Lorv√£o                                                         8
                              Lorv√£o                                                                     8
                              Penacova                                                                   8
√âvora     √âvora               Uni√£o das freguesias de √âvora (S√£o Mamede, S√©, S√£o Pedro e Santo Ant√£o)    8
Name: count, Length: 3091, dtype: int64

**Step 1.10.4** Now that we confirmed that each parish is represented by 8 rows, use `value_counts` to obtain the number of parishes in each district<br>
**Hint** Recall that you can apply mathematical operations to pandas series

In [86]:
population.District.value_counts()/8

District
Braga                  347.0
Viseu                  277.0
Porto                  243.0
Guarda                 242.0
Bragan√ßa               226.0
Viana do Castelo       208.0
Vila Real              197.0
Coimbra                155.0
Aveiro                 146.0
Santar√©m               141.0
Lisboa                 134.0
Castelo Branco         120.0
Leiria                 110.0
Beja                    75.0
√âvora                   69.0
Portalegre              69.0
Faro                    67.0
Ilha de S√£o Miguel      64.0
Set√∫bal                 55.0
Ilha da Madeira         53.0
Ilha Terceira           30.0
Ilha do Pico            17.0
Ilha do Faial           13.0
Ilha das Flores         11.0
Ilha de S√£o Jorge       11.0
Ilha de Santa Maria      5.0
Ilha da Graciosa         4.0
Ilha de Porto Santo      1.0
Ilha do Corvo            1.0
Name: count, dtype: float64

A final note on `describe`. It is possible to obtain the aggregate basic statistics for both numerical and object variables using `include = 'all'`. For each dtype, the method will automatically detect which descriptive statistics to compute and assume the nonsensical statistics to be NaNs. See the example below:

In [87]:
population.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Year,24728.0,NaN,NaN,NaN,2021.0,0.0,2021.0,2021.0,2021.0,2021.0,2021.0
Location_Code,24728,3091,70523,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District,24728,29,Braga,2776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Municipality,24728,306,Barcelos,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parish,24728,2873,Pinheiro,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,24728,2,Female,12364,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age_bracket,24728,4,15 - 24 year old,6182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population,24728.0,NaN,NaN,NaN,417.955516,1134.569287,0.0,41.0,108.0,304.0,20301.0
Comments,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population_corrected,24728.0,NaN,NaN,NaN,417.955516,1134.569287,0.0,41.0,108.0,304.0,20301.0

### <font color='#BFD72F'>2. Grouping and Aggregation</font> <a class="anchor" id="P2"></a>
  [Back to TOC](#toc)

  In this section, we will shift our attention to grouping data and aggregate statistical measures. In particular, we will cover the flexible method that is `groupby()`. More info in this method [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html). It is really important to bear in mind that <b>the output of `groupby()` can either be a *pandas* series or *pandas* dataframe</b>. This means that we can apply all the methods that are applicable to those data structures that we have covered thus far.
  
  Taking into consideration our data, we may want to verify what is the total population per district.

  **Step 2.1** Use `groupby()` to get the `sum` of the populain every numerical column per district.

In [88]:
population.groupby('District').sum(numeric_only=True) #numeric_only set to True because of coming changes to groupby()

                          Year  Population  Comments  Population_corrected
District
Aveiro               2360528.0      692925       0.0                692925
Beja                 1212600.0      144401       0.0                144401
Braga                5610296.0      846293       0.0                846293
Bragan√ßa             3653968.0      122804       0.0                122804
Castelo Branco       1940160.0      177962       0.0                177962
Coimbra              2506040.0      408551       0.0                408551
Faro                 1083256.0      467343       0.0                467343
Guarda               3912656.0      142974       0.0                142974
Ilha Terceira         485040.0       53234       0.0                 53234
Ilha da Graciosa       64672.0        4090       0.0                  4090
Ilha da Madeira       856904.0      245595       0.0                245595
Ilha das Flores       177848.0        3428       0.0                  3428
Ilha de Porto Santo    16168.0        5149       0.0                  5149
Ilha de Santa Maria    80840.0        5406       0.0                  5406
Ilha de S√£o Jorge     177848.0        8373       0.0                  8373
Ilha de S√£o Miguel   1034752.0      133288       0.0                133288
Ilha do Corvo          16168.0         384       0.0                   384
Ilha do Faial         210184.0       14331       0.0                 14331
Ilha do Pico          274856.0       13879       0.0                 13879
Leiria               1778480.0      458605       0.0                458605
Lisboa               2166512.0     2275385       0.0               2275385
Portalegre           1115592.0      104923       0.0                104923
Porto                3928824.0     1785405       0.0               1785405
Santar√©m             2279688.0      424973       0.0                424973
Set√∫bal               889240.0      874806       0.0                874806
Viana do Castelo     3362944.0      231266       0.0                231266
Vila Real            3185096.0      185695       0.0                185695
Viseu                4478536.0      351292       0.0                351292
√âvora                1115592.0      152444       0.0                152444

  **Step 2.2.2** Use `groupby()` to obtain a pandas series with the `sum` of column `Population`per `District`

In [89]:
population.groupby('District')[['Population']].sum() # double square brackets for DF

                     Population
District
Aveiro                   692925
Beja                     144401
Braga                    846293
Bragan√ßa                 122804
Castelo Branco           177962
Coimbra                  408551
Faro                     467343
Guarda                   142974
Ilha Terceira             53234
Ilha da Graciosa           4090
Ilha da Madeira          245595
Ilha das Flores            3428
Ilha de Porto Santo        5149
Ilha de Santa Maria        5406
Ilha de S√£o Jorge          8373
Ilha de S√£o Miguel       133288
Ilha do Corvo               384
Ilha do Faial             14331
Ilha do Pico              13879
Leiria                   458605
Lisboa                  2275385
Portalegre               104923
Porto                   1785405
Santar√©m                 424973
Set√∫bal                  874806
Viana do Castelo         231266
Vila Real                185695
Viseu                    351292
√âvora                    152444

  **Step 2.2.3** Use `groupby()` to obtain a pandas dataframe with the `sum` of column `Population` per `District`. Sort it in descending order

In [90]:
population.groupby('District')[['Population']].sum(numeric_only = True).sort(ascending=False) #CODE HERE

AttributeError: 'DataFrame' object has no attribute 'sort'

**Step 2.2.4** Use `groupby()` to obtain a pandas dataframe with the `sum` of column `Population` per `District` and `Age_bracket`. Store it in variable `population_per_district_age`.

In [91]:
#storing it in a variable allows you to use it later as any other pandas dataframe as it has too many rows to see in one go
population_per_district_age =  population.groupby(['District', 'Age_bracket'])[['Population']].sum()

#checking the result
population_per_district_age

                           Population
District Age_bracket
Aveiro   0 - 14 year old        85047
         15 - 24 year old       72264
         25 - 64 year old      374324
         65 and older          161290
Beja     0 - 14 year old        17498
...                               ...
Viseu    65 and older           98871
√âvora    0 - 14 year old        18482
         15 - 24 year old       14812
         25 - 64 year old       77747
         65 and older           41403

[116 rows x 1 columns]

Grouping on multiple columns generates a MultiIndex by default. While MultiIndexes have been covered before, we haven't learned how to deal with them. In this notebook, we will cover the most basic way of removing a multi-index, which is resetting it using `reset_index()`. More info [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)

**Step 2.2.5** Identify and deal with the MultiIndex in the dataframe `population_per_district_age`<br>
**Step 2.2.5.1** Check the shape and columns of the dataframe `population_per_district_age` (you should expect it to have single column)

In [92]:
print(f'Shape of the dataframe: {population_per_district_age.shape}\n' +
      f'Columns in the dataframe: {population_per_district_age.columns.unique()}')

Shape of the dataframe: (116, 1)
Columns in the dataframe: Index(['Population'], dtype='object')

**Step 2.2.5.2** Use the method `reset_index()` to remove the MultiIndex and set its components to regular columns of a *pandas* dataframe. Check whether your changes had an effect.

In [93]:
#resetting index
population_per_district_age.reset_index(inplace=True, drop = False) #the current default is drop = False

#check
print(f'Shape of the dataframe: {population_per_district_age.shape}\n' +
      f'Columns in the dataframe: {population_per_district_age.columns.unique()}')

population_per_district_age

Shape of the dataframe: (116, 3)
Columns in the dataframe: Index(['District', 'Age_bracket', 'Population'], dtype='object')

    District       Age_bracket  Population
0     Aveiro   0 - 14 year old       85047
1     Aveiro  15 - 24 year old       72264
2     Aveiro  25 - 64 year old      374324
3     Aveiro      65 and older      161290
4       Beja   0 - 14 year old       17498
..       ...               ...         ...
111    Viseu      65 and older       98871
112    √âvora   0 - 14 year old       18482
113    √âvora  15 - 24 year old       14812
114    √âvora  25 - 64 year old       77747
115    √âvora      65 and older       41403

[116 rows x 3 columns]

The `groupby` method allows for the grouping to be performed not only over multiple variables, but it allows you to set multiple functions as well using the `agg` parameter. While very useful in order to obtain a more granular insight, it has the **drawback** of possibly generation a column **MultiIndex**, which is much more challenging to handle than the ones covered thus far.

**Step 2.3.1** Use `groupby()` to obtain a pandas dataframe with the `sum`, `mean` and `median` of column `Population` per `District` and `Age_bracket`.

In [94]:
population.groupby(['District', 'Age_bracket']).agg({
                                                     'Population' : ['sum', 'mean', 'median'],
                                                    })

                          Population
                                 sum         mean median
District Age_bracket
Aveiro   0 - 14 year old       85047   291.256849  197.5
         15 - 24 year old      72264   247.479452  168.5
         25 - 64 year old     374324  1281.931507  861.5
         65 and older         161290   552.363014  392.0
Beja     0 - 14 year old       17498   116.653333   50.5
...                              ...          ...    ...
Viseu    65 and older          98871   178.467509  120.0
√âvora    0 - 14 year old       18482   133.927536   47.5
         15 - 24 year old      14812   107.333333   39.0
         25 - 64 year old      77747   563.384058  234.5
         65 and older          41403   300.021739  143.0

[116 rows x 3 columns]

**Step 2.3.2** Use `groupby()` to obtain a pandas dataframe with the `sum`, `mean` and `median` of column `Population` and the number of `Location_Code` and `Parish` per `District`.

In [95]:
population.groupby(['District']).agg({
                                                     'Population' : ['sum', 'mean', 'median'],
                                                     'Location_Code' : 'nunique', #nunique gives the number of unique values
                                                     'Parish' : 'nunique', #nunique gives the number of unique values
                                                    })

                    Population                      Location_Code  Parish
                           sum         mean  median       nunique nunique
District
Aveiro                  692925   593.257705   323.0           146     145
Beja                    144401   240.668333   122.5            75      75
Braga                   846293   304.860591   142.0           347     342
Bragan√ßa                122804    67.922566    30.0           226     225
Castelo Branco          177962   185.377083    61.5           120     120
Coimbra                 408551   329.476613   139.0           155     155
Faro                    467343   871.908582   384.5            67      67
Guarda                  142974    73.850207    33.0           242     237
Ilha Terceira            53234   221.808333   127.5            30      30
Ilha da Graciosa          4090   127.812500   100.0             4       4
Ilha da Madeira         245595   579.233491   242.5            53      52
Ilha das Flores           3428    38.954545    16.0            11      11
Ilha de Porto Santo       5149   643.625000   361.5             1       1
Ilha de Santa Maria       5406   135.150000    61.0             5       5
Ilha de S√£o Jorge         8373    95.147727    57.5            11      11
Ilha de S√£o Miguel      133288   260.328125   132.5            64      62
Ilha do Corvo              384    48.000000    28.5             1       1
Ilha do Faial            14331   137.798077    91.0            13      13
Ilha do Pico             13879   102.051471    56.5            17      17
Leiria                  458605   521.142045   254.0           110     110
Lisboa                 2275385  2122.560634  1007.0           134     133
Portalegre              104923   190.077899    84.5            69      68
Porto                  1785405   918.418210   273.0           243     238
Santar√©m                424973   376.749113   164.0           141     140
Set√∫bal                 874806  1988.195455   945.5            55      55
Viana do Castelo        231266   138.981971    67.0           208     208
Vila Real               185695   117.826777    55.0           197     196
Viseu                   351292   158.525271    69.0           277     274
√âvora                   152444   276.166667   109.0            69      69

### <font color='#BFD72F'>3. CrossTab and Pivot Tables</font> <a class="anchor" id="P3"></a>
  [Back to TOC](#toc)

#### CrossTab<a class="anchor" id="P3.1"></a>

By default, cross tabulation creates a frequency table that shows the distribution of data across different categories of those variables.
Consider the example given in the theoretical class, where you had multiple students and their respective classes.

**Step 3.1.1** Run the cell below to create the dataframe used in the theoretical class.

In [96]:
#create sample dataframe
crosstab_example = pd.DataFrame(data = {
                                            'Name' : ['John', 'Mary', 'Hanna', 'James', 'Louise', 'Robert', 'Ben', 'Hanna', 'Richard', 'Emily'],
                                            'Class' : ['LGI', 'LGI', 'LSTI', 'LCD', 'LSTI', 'LGI', 'LCD', 'LGI', 'LCD', 'LSTI'],
                                            'P' : ['P1', 'P2', 'P1', 'P1', 'P1', 'P1', 'P2', 'P2', 'P1', 'P2'],
                                             })
#display dataframe
crosstab_example

      Name Class   P
0     John   LGI  P1
1     Mary   LGI  P2
2    Hanna  LSTI  P1
3    James   LCD  P1
4   Louise  LSTI  P1
5   Robert   LGI  P1
6      Ben   LCD  P2
7    Hanna   LGI  P2
8  Richard   LCD  P1
9    Emily  LSTI  P2

**Step 3.1.2** Use `crosstab()` on `crosstab_example` to have the columns be the different `P` each row be `Class`

In [97]:
pd.crosstab(index = crosstab_example['Class'],
            columns = crosstab_example['P'])

P      P1  P2
Class
LCD     2   1
LGI     2   2
LSTI    2   1

A key difference between `crosstab()` and `pivot_table()` is that `crosstab` does not expect dataframes as input. Instead, it expects arrays, series, or lists. This means that you can use `crosstab` to create a table from data that is not already in a dataframe. Check the documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html)

**Step 3.2.1** Create two separate lists: the first using data from of `Class` and the second with the data in column `P`

In [98]:
#list for Class
class_list = crosstab_example['Class'].to_list()

#do the same for p
p_list = crosstab_example['P'].to_list()

**Step 3.2.2** Use `crosstab()` on lists `class_list` and `p_list` to create replicate the previous crosstab

In [99]:
pd.crosstab(index = class_list,
            columns = p_list)

col_0  P1  P2
row_0
LCD     2   1
LGI     2   2
LSTI    2   1

However, `crosstab()` also allows you to make computations and be used to create pivot tables thanks to the `value` and `aggfunc` parameter.

**Step 3.2** Use `crosstab()` on `population` to create a pivot table where the rows are `District`, the columns are the `Sex` and the values are the *sum* of `Population`

In [100]:
pd.crosstab(index = population['District'],
            columns = population['Sex'],
            values = population.Population,
            aggfunc = 'sum'
             )

Sex                   Female     Male
District
Aveiro                360863   332062
Beja                   71690    72711
Braga                 439664   406629
Bragan√ßa               64039    58765
Castelo Branco         93109    84853
Coimbra               216077   192474
Faro                  240568   226775
Guarda                 75308    67666
Ilha Terceira          27371    25863
Ilha da Graciosa        2070     2020
Ilha da Madeira       130446   115149
Ilha das Flores         1688     1740
Ilha de Porto Santo     2613     2536
Ilha de Santa Maria     2816     2590
Ilha de S√£o Jorge       4223     4150
Ilha de S√£o Miguel     68141    65147
Ilha do Corvo            179      205
Ilha do Faial           7342     6989
Ilha do Pico            7103     6776
Leiria                238731   219874
Lisboa               1204781  1070604
Portalegre             55096    49827
Porto                 938758   846647
Santar√©m              222956   202017
Set√∫bal               458851   415955
Viana do Castelo      122911   108355
Vila Real              97424    88271
Viseu                 184650   166642
√âvora                  79242    73202

#### Pivot Tables<a class="anchor" id="P3.2"></a>

`pivot_table()` is a *pandas* function that is designed to create pivot tables from a *DataFrame* (key difference between this method and `crosstab()`). It shares a lot of the syntax used in `crosstab()`, although it is a bit more flexible. To check the documentation, click [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html).

**Step 3.3** Use `pivot_table()` on `population` to create a pivot table where the rows are `District`, the columns are the `Sex` and the values are the *sum* of `Population`

In [101]:
pd.pivot_table(data = population, 
           index = 'District',
            columns = 'Sex',
            values = 'Population',
            aggfunc = 'sum' 
            )

# Not necessary to break down tables...

Sex                   Female     Male
District
Aveiro                360863   332062
Beja                   71690    72711
Braga                 439664   406629
Bragan√ßa               64039    58765
Castelo Branco         93109    84853
Coimbra               216077   192474
Faro                  240568   226775
Guarda                 75308    67666
Ilha Terceira          27371    25863
Ilha da Graciosa        2070     2020
Ilha da Madeira       130446   115149
Ilha das Flores         1688     1740
Ilha de Porto Santo     2613     2536
Ilha de Santa Maria     2816     2590
Ilha de S√£o Jorge       4223     4150
Ilha de S√£o Miguel     68141    65147
Ilha do Corvo            179      205
Ilha do Faial           7342     6989
Ilha do Pico            7103     6776
Leiria                238731   219874
Lisboa               1204781  1070604
Portalegre             55096    49827
Porto                 938758   846647
Santar√©m              222956   202017
Set√∫bal               458851   415955
Viana do Castelo      122911   108355
Vila Real              97424    88271
Viseu                 184650   166642
√âvora                  79242    73202

Both `crosstab()` and `pivot_table()` allow the creation of multi-indexed tables. The `crosstab()` function is a special case of the `pivot_table()` function. However, `pivot_table()` has a more forgiving syntax since you can call the column names directly.

**Step 3.4** Use `pivot_table()` on `population` to create a pivot table where the rows are `District`, the columns are `Sex` and `Age_bracket` and the values are the *sum* of `Population`

In [102]:
pd.pivot_table(
    data=population,
    index='District',
    columns=['Sex', 'Age_bracket'],
    values='Population',
    aggfunc='sum'
)

Sex                          Female                                    \
Age_bracket         0 - 14 year old 15 - 24 year old 25 - 64 year old
District
Aveiro                        41362            35586           193018
Beja                           8467             6431            35074
Braga                         52614            46868           243870
Bragan√ßa                       5628             5278            29704
Castelo Branco                 8881             7536            44023
Coimbra                       22619            19150           109342
Faro                          30603            22126           127813
Guarda                         6637             5961            34652
Ilha Terceira                  3521             2887            15182
Ilha da Graciosa                274              205             1091
Ilha da Madeira               15312            13536            71493
Ilha das Flores                 203              176              930
Ilha de Porto Santo             292              254             1528
Ilha de Santa Maria             387              310             1540
Ilha de S√£o Jorge               470              403             2321
Ilha de S√£o Miguel            10121             8407            38797
Ilha do Corvo                    23               16              109
Ilha do Faial                   916              719             4078
Ilha do Pico                    895              665             3808
Leiria                        27704            22859           122494
Lisboa                       157971           121186           638533
Portalegre                     6120             4881            26108
Porto                        111109            96126           516990
Santar√©m                      25440            20605           109808
Set√∫bal                       60814            45501           239745
Viana do Castelo              12671            10952            61475
Vila Real                      9069             8407            47999
Viseu                         19353            17350            91878
√âvora                          8904             7107            39537

Sex                                         Male                   \
Age_bracket         65 and older 0 - 14 year old 15 - 24 year old
District
Aveiro                     90897           43685            36678
Beja                       21718            9031             7436
Braga                      96312           56082            49273
Bragan√ßa                   23429            5825             5403
Castelo Branco             32669            9334             8164
Coimbra                    64966           23958            19730
Faro                       60026           32178            23703
Guarda                     28058            6714             6308
Ilha Terceira               5781            3605             3008
Ilha da Graciosa             500             317              219
Ilha da Madeira            30105           16044            14106
Ilha das Flores              379             232              164
Ilha de Porto Santo          539             290              293
Ilha de Santa Maria          579             385              309
Ilha de S√£o Jorge           1029             575              423
Ilha de S√£o Miguel         10816           10643             8824
Ilha do Corvo                 31              26               29
Ilha do Faial               1629            1013              799
Ilha do Pico                1735             947              676
Leiria                     65674           29058            24374
Lisboa                    287091          166310           124879
Portalegre                 17987            6256             4970
Porto                     214533          116125            99855
Santar√©m                   67103           26498            22259
Set√∫bal                   112791           63853            47815
Viana do Castelo           37813           13160            11386
Vila Real                  31949            9606             8745
Viseu                      56069           20325            18174
√âvora                      23694            9578             7705

Sex
Age_bracket         25 - 64 year old 65 and older
District
Aveiro                        181306        70393
Beja                           39579        16665
Braga                         227244        74030
Bragan√ßa                       28683        18854
Castelo Branco                 42585        24770
Coimbra                       100813        47973
Faro                          119971        50923
Guarda                         33555        21089
Ilha Terceira                  14948         4302
Ilha da Graciosa                1094          390
Ilha da Madeira                66013        18986
Ilha das Flores                 1044          300
Ilha de Porto Santo             1523          430
Ilha de Santa Maria             1530          366
Ilha de S√£o Jorge               2337          815
Ilha de S√£o Miguel             37769         7911
Ilha do Corvo                    122           28
Ilha do Faial                   3949         1228
Ilha do Pico                    3863         1290
Leiria                        115189        51253
Lisboa                        577504       201911
Portalegre                     25210        13391
Porto                         469650       161017
Santar√©m                      104160        49100
Set√∫bal                       218378        85909
Viana do Castelo               56543        27266
Vila Real                      44959        24961
Viseu                          85341        42802
√âvora                          38210        17709

**Note** Order when creating these MultiIndexes matters. The first index is the outermost, the last index is the innermost.
**Step 3.5** Use `pivot_table()` to create the same pivot table you had just created. However, this time, make the columns be `Age_bracket` first and `Sex` second

In [103]:
pd.pivot_table(
    data = population,
    columns = ['Age_bracket', 'Sex'],
    index = 'District',
    values = 'Population',
    aggfunc = 'sum'
)

Age_bracket         0 - 14 year old         15 - 24 year old          \
Sex                          Female    Male           Female    Male
District
Aveiro                        41362   43685            35586   36678
Beja                           8467    9031             6431    7436
Braga                         52614   56082            46868   49273
Bragan√ßa                       5628    5825             5278    5403
Castelo Branco                 8881    9334             7536    8164
Coimbra                       22619   23958            19150   19730
Faro                          30603   32178            22126   23703
Guarda                         6637    6714             5961    6308
Ilha Terceira                  3521    3605             2887    3008
Ilha da Graciosa                274     317              205     219
Ilha da Madeira               15312   16044            13536   14106
Ilha das Flores                 203     232              176     164
Ilha de Porto Santo             292     290              254     293
Ilha de Santa Maria             387     385              310     309
Ilha de S√£o Jorge               470     575              403     423
Ilha de S√£o Miguel            10121   10643             8407    8824
Ilha do Corvo                    23      26               16      29
Ilha do Faial                   916    1013              719     799
Ilha do Pico                    895     947              665     676
Leiria                        27704   29058            22859   24374
Lisboa                       157971  166310           121186  124879
Portalegre                     6120    6256             4881    4970
Porto                        111109  116125            96126   99855
Santar√©m                      25440   26498            20605   22259
Set√∫bal                       60814   63853            45501   47815
Viana do Castelo              12671   13160            10952   11386
Vila Real                      9069    9606             8407    8745
Viseu                         19353   20325            17350   18174
√âvora                          8904    9578             7107    7705

Age_bracket         25 - 64 year old         65 and older
Sex                           Female    Male       Female    Male
District
Aveiro                        193018  181306        90897   70393
Beja                           35074   39579        21718   16665
Braga                         243870  227244        96312   74030
Bragan√ßa                       29704   28683        23429   18854
Castelo Branco                 44023   42585        32669   24770
Coimbra                       109342  100813        64966   47973
Faro                          127813  119971        60026   50923
Guarda                         34652   33555        28058   21089
Ilha Terceira                  15182   14948         5781    4302
Ilha da Graciosa                1091    1094          500     390
Ilha da Madeira                71493   66013        30105   18986
Ilha das Flores                  930    1044          379     300
Ilha de Porto Santo             1528    1523          539     430
Ilha de Santa Maria             1540    1530          579     366
Ilha de S√£o Jorge               2321    2337         1029     815
Ilha de S√£o Miguel             38797   37769        10816    7911
Ilha do Corvo                    109     122           31      28
Ilha do Faial                   4078    3949         1629    1228
Ilha do Pico                    3808    3863         1735    1290
Leiria                        122494  115189        65674   51253
Lisboa                        638533  577504       287091  201911
Portalegre                     26108   25210        17987   13391
Porto                         516990  469650       214533  161017
Santar√©m                      109808  104160        67103   49100
Set√∫bal                       239745  218378       112791   85909
Viana do Castelo               61475   56543        37813   27266
Vila Real                      47999   44959        31949   24961
Viseu                          91878   85341        56069   42802
√âvora                          39537   38210        23694   17709

### <font color='#BFD72F'>4.Grabbing subsets - Advanced options</font> <a class="anchor" id="P4"></a>
  [Back to TOC](#toc)

  In this section, we will explore a few more advanced options to grab subsets of data. In particular, we will use the following methods:
  1. `query` to grab subsets of data based on a condition or set of conditions
  2. `isin` to make explicit lists of values to grab
  3. `between` to grab subsets of data based on a range of values

  **Step 4.1** Use query to obtain subsets of data based on a condition or set of conditions.<br>
  **Step 4.1.1** Select all rows where the `District` is `Lisboa`

In [289]:
population.query(expr='District=="Lisboa"')

# equivalent notation
population[population['District']=='Lisboa']

# use loc if i want to do further selections

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
6518,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Female,25 - 64 year old,5063,NaN,5063
7094,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Male,0 - 14 year old,1323,NaN,1323
10408,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Female,15 - 24 year old,974,NaN,974
14336,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Male,15 - 24 year old,988,NaN,988
15841,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Male,25 - 64 year old,4495,NaN,4495
...,...,...,...,...,...,...,...,...,...,...
8631,2021.0,110106,Lisboa,Alenquer,Carnota,Female,0 - 14 year old,72,NaN,72
10248,2021.0,110106,Lisboa,Alenquer,Carnota,Female,25 - 64 year old,397,NaN,397
19353,2021.0,110106,Lisboa,Alenquer,Carnota,Male,65 and older,209,NaN,209
21332,2021.0,110106,Lisboa,Alenquer,Carnota,Female,65 and older,255,NaN,255
24134,2021.0,110106,Lisboa,Alenquer,Carnota,Female,15 - 24 year old,63,NaN,63

  **Step 4.1.2** Select all rows where the `District` is `Lisboa` and the `Population` is greater or equal than 2000 people.

In [292]:
population.query('District == "Lisboa" and Population >= 2000') #CODE HERE

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
6518,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Female,25 - 64 year old,5063,NaN,5063
15841,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Male,25 - 64 year old,4495,NaN,4495
17798,2021.0,111409,Lisboa,Vila Franca de Xira,Vila Franca de Xira,Female,65 and older,2480,NaN,2480
4467,2021.0,111408,Lisboa,Vila Franca de Xira,Vialonga,Male,0 - 14 year old,2052,NaN,2052
12404,2021.0,111408,Lisboa,Vila Franca de Xira,Vialonga,Male,25 - 64 year old,5533,NaN,5533
...,...,...,...,...,...,...,...,...,...,...
21972,2021.0,111512,Lisboa,Amadora,Alfragide,Male,25 - 64 year old,4272,NaN,4272
14007,2021.0,110120,Lisboa,Alenquer,Uni√£o das freguesias de Carregado e Cadafais,Male,25 - 64 year old,4000,NaN,4000
17708,2021.0,110120,Lisboa,Alenquer,Uni√£o das freguesias de Carregado e Cadafais,Female,25 - 64 year old,4318,NaN,4318
1591,2021.0,110119,Lisboa,Alenquer,Uni√£o das freguesias de Alenquer (Santo Est√™v√£...,Female,25 - 64 year old,3406,NaN,3406
21863,2021.0,110119,Lisboa,Alenquer,Uni√£o das freguesias de Alenquer (Santo Est√™v√£...,Male,25 - 64 year old,3164,NaN,3164

  **Step 4.1.3** Select all rows where the `Population` is greater or equal than 2000 people and the `District` is `Lisboa` or `Porto`.

In [294]:
population.query('Population >= 2000 and (District == "Lisboa" or District == "Porto")')

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
1669,2021.0,131628,Porto,Vila do Conde,Vila do Conde,Female,25 - 64 year old,8423,NaN,8423
6806,2021.0,131628,Porto,Vila do Conde,Vila do Conde,Female,65 and older,3417,NaN,3417
7657,2021.0,131628,Porto,Vila do Conde,Vila do Conde,Male,25 - 64 year old,7649,NaN,7649
11004,2021.0,131628,Porto,Vila do Conde,Vila do Conde,Male,65 and older,2422,NaN,2422
11495,2021.0,131628,Porto,Vila do Conde,Vila do Conde,Female,0 - 14 year old,2058,NaN,2058
...,...,...,...,...,...,...,...,...,...,...
21972,2021.0,111512,Lisboa,Amadora,Alfragide,Male,25 - 64 year old,4272,NaN,4272
14007,2021.0,110120,Lisboa,Alenquer,Uni√£o das freguesias de Carregado e Cadafais,Male,25 - 64 year old,4000,NaN,4000
17708,2021.0,110120,Lisboa,Alenquer,Uni√£o das freguesias de Carregado e Cadafais,Female,25 - 64 year old,4318,NaN,4318
1591,2021.0,110119,Lisboa,Alenquer,Uni√£o das freguesias de Alenquer (Santo Est√™v√£...,Female,25 - 64 year old,3406,NaN,3406
21863,2021.0,110119,Lisboa,Alenquer,Uni√£o das freguesias de Alenquer (Santo Est√™v√£...,Male,25 - 64 year old,3164,NaN,3164

  **Step 4.2** Use standard dataframe slicing to obtain subsets of data based on a condition or set of conditions.<br>
    **Step 4.2.1** Select all rows where the `District` is `Coimbra`

In [296]:
population.query('District=="Coimbra"')

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
1779,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,25 - 64 year old,350,NaN,350
8525,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,65 and older,205,NaN,205
10475,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Male,25 - 64 year old,314,NaN,314
10488,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,0 - 14 year old,78,NaN,78
15764,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Male,0 - 14 year old,77,NaN,77
...,...,...,...,...,...,...,...,...,...,...
13257,2021.0,60102,Coimbra,Arganil,Arganil,Female,15 - 24 year old,180,NaN,180
15456,2021.0,60102,Coimbra,Arganil,Arganil,Male,65 and older,429,NaN,429
18608,2021.0,60102,Coimbra,Arganil,Arganil,Female,65 and older,570,NaN,570
22219,2021.0,60102,Coimbra,Arganil,Arganil,Male,25 - 64 year old,968,NaN,968
24601,2021.0,60102,Coimbra,Arganil,Arganil,Male,15 - 24 year old,197,NaN,197

  **Step 4.2.2** Select all rows where the `District` is `Coimbra` and the `Population` is equal or smaller than 300 people.

In [300]:
population.query('District=="Coimbra" & (Population<300 or Population==300)')

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
8525,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,65 and older,205,NaN,205
10488,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,0 - 14 year old,78,NaN,78
15764,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Male,0 - 14 year old,77,NaN,77
19539,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,15 - 24 year old,52,NaN,52
19735,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Male,15 - 24 year old,77,NaN,77
...,...,...,...,...,...,...,...,...,...,...
21400,2021.0,60104,Coimbra,Arganil,Benfeita,Female,15 - 24 year old,1,NaN,1
1673,2021.0,60102,Coimbra,Arganil,Arganil,Female,0 - 14 year old,228,NaN,228
3732,2021.0,60102,Coimbra,Arganil,Arganil,Male,0 - 14 year old,223,NaN,223
13257,2021.0,60102,Coimbra,Arganil,Arganil,Female,15 - 24 year old,180,NaN,180
24601,2021.0,60102,Coimbra,Arganil,Arganil,Male,15 - 24 year old,197,NaN,197

  **Step 4.2.3** Select all rows where the `Population` is inferior or equal than 300 people and the `District` is `Coimbra` or `Aveiro`.

In [302]:
population[(population['Population'] <= 300) & ((population['District'] == 'Coimbra') | (population['District'] == 'Aveiro'))]

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
8525,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,65 and older,205,NaN,205
10488,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,0 - 14 year old,78,NaN,78
15764,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Male,0 - 14 year old,77,NaN,77
19539,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Female,15 - 24 year old,52,NaN,52
19735,2021.0,61704,Coimbra,Vila Nova de Poiares,S√£o Miguel de Poiares,Male,15 - 24 year old,77,NaN,77
...,...,...,...,...,...,...,...,...,...,...
7634,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Female,0 - 14 year old,118,NaN,118
10768,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Female,15 - 24 year old,116,NaN,116
15185,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Male,65 and older,258,NaN,258
19906,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Male,0 - 14 year old,141,NaN,141
21580,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Male,15 - 24 year old,110,NaN,110

There is are also functions that allow you to effortlessly create more elaborate conditions. One possibility is using `isin` to give a boolean mask that you can use to filter the dataframe based on a set of values you want to check for. More info on this method can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html).

**Step 4.3.1** Use the `isin` function to create a boolean mask that you can use to filter the dataframe. The mask should be true for all rows where the `District` column is either `Coimbra` or `Leiria`. Use that mask to filter the dataframe `population`.

In [310]:
population['District'].isin(['Coimbra', 'Leiria']) #CODE HERE

# to use it i put it inside square brackets

3232     False
7672     False
13912    False
14498    False
16065    False
         ...
4904     False
14888    False
15395    False
21325    False
22975    False
Name: District, Length: 24728, dtype: bool

An alternative, and more elegant way is to create a list with the values you want to check for and use that list as the input to the isin() method. Try it.

In [312]:
#create list (try and change it to look for different values)
districts_to_check = ['Coimbra', 'Leiria']

#filter
population[population['District'].isin(districts_to_check)]#CODE HERE

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
2629,2021.0,101207,Leiria,√ìbidos,Vau,Female,0 - 14 year old,44,NaN,44
3390,2021.0,101207,Leiria,√ìbidos,Vau,Female,25 - 64 year old,232,NaN,232
4597,2021.0,101207,Leiria,√ìbidos,Vau,Female,65 and older,142,NaN,142
7362,2021.0,101207,Leiria,√ìbidos,Vau,Female,15 - 24 year old,39,NaN,39
14849,2021.0,101207,Leiria,√ìbidos,Vau,Male,0 - 14 year old,56,NaN,56
...,...,...,...,...,...,...,...,...,...,...
13257,2021.0,60102,Coimbra,Arganil,Arganil,Female,15 - 24 year old,180,NaN,180
15456,2021.0,60102,Coimbra,Arganil,Arganil,Male,65 and older,429,NaN,429
18608,2021.0,60102,Coimbra,Arganil,Arganil,Female,65 and older,570,NaN,570
22219,2021.0,60102,Coimbra,Arganil,Arganil,Male,25 - 64 year old,968,NaN,968
24601,2021.0,60102,Coimbra,Arganil,Arganil,Male,15 - 24 year old,197,NaN,197

Another example, now for numerical values is the method `between()`. More info on this method can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.between.html).

**Step 4.3.1** Use the `between()` function to create a boolean mask that you can use to filter the dataframe. Only the rows where `Population` values are between 100 and 200 should be returned

In [314]:
population[population['Population'].between(100, 200)]

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
21931,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Female,0 - 14 year old,189,NaN,189
23796,2021.0,70523,√âvora,√âvora,"Uni√£o das freguesias de √âvora (S√£o Mamede, S√©,...",Male,15 - 24 year old,192,NaN,192
4662,2021.0,70527,√âvora,√âvora,Uni√£o das freguesias de S√£o Sebasti√£o da Giest...,Female,65 and older,172,NaN,172
15786,2021.0,70527,√âvora,√âvora,Uni√£o das freguesias de S√£o Sebasti√£o da Giest...,Male,65 and older,125,NaN,125
1585,2021.0,70526,√âvora,√âvora,Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicen...,Male,65 and older,145,NaN,145
...,...,...,...,...,...,...,...,...,...,...
23238,2021.0,10210,Aveiro,Albergaria-a-Velha,S√£o Jo√£o de Loure e Frossos,Female,0 - 14 year old,171,NaN,171
7634,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Female,0 - 14 year old,118,NaN,118
10768,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Female,15 - 24 year old,116,NaN,116
19906,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Male,0 - 14 year old,141,NaN,141
21580,2021.0,10202,Aveiro,Albergaria-a-Velha,Alquerubim,Male,15 - 24 year old,110,NaN,110

An alternative, and more elegant way is to assign the values you want to search in variables and then use those variables as the inputs to `between`. Try it.

In [318]:
#assign values to the variables
max_value = 200
min_value = 100

#search for the values
population.Population.between(min_value,max_value)

3232     False
7672     False
13912    False
14498    False
16065    False
         ...
4904     False
14888    False
15395    False
21325    False
22975    False
Name: Population, Length: 24728, dtype: bool

You can also combine these two methods for more powerful queries to your data. 

**Step 4.3** Return the rows in the dataset that are in districts `√âvora`, `Beja` and `Faro` whose `Population` is between 50 and 150 inhabitants.

In [325]:
#set search space
districts_to_check = ['√âvora', 'Beja', 'Faro']
min_value = 50
max_value = 150

#search for the values
mask1 = population.District.isin(['√âvora', 'Beja', 'Faro'])
mask2 = population.Population.between(min_value, max_value)

population[mask1 & mask2]

,Year,Location_Code,District,Municipality,Parish,Sex,Age_bracket,Population,Comments,Population_corrected
15786,2021.0,70527,√âvora,√âvora,Uni√£o das freguesias de S√£o Sebasti√£o da Giest...,Male,65 and older,125,NaN,125
1585,2021.0,70526,√âvora,√âvora,Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicen...,Male,65 and older,145,NaN,145
5823,2021.0,70526,√âvora,√âvora,Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicen...,Male,15 - 24 year old,57,NaN,57
6732,2021.0,70526,√âvora,√âvora,Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicen...,Female,0 - 14 year old,59,NaN,59
7830,2021.0,70526,√âvora,√âvora,Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicen...,Male,0 - 14 year old,54,NaN,54
...,...,...,...,...,...,...,...,...,...,...
17484,2021.0,20104,Beja,Aljustrel,S√£o Jo√£o de Negrilhos,Male,0 - 14 year old,71,NaN,71
22913,2021.0,20104,Beja,Aljustrel,S√£o Jo√£o de Negrilhos,Female,0 - 14 year old,75,NaN,75
2865,2021.0,20103,Beja,Aljustrel,Messejana,Female,0 - 14 year old,50,NaN,50
4738,2021.0,20103,Beja,Aljustrel,Messejana,Male,65 and older,123,NaN,123
1655,2021.0,20102,Beja,Aljustrel,Ervidel,Male,65 and older,133,NaN,133

### <font color='#BFD72F'>5.Try it out</font> <a class="anchor" id="P5"></a>
  [Back to TOC](#toc)

1. Create a pivot_table whose values are the `sum` of the population separated by **males** and **females** for each `District`, `Municipality`, `Parish`. Store it in variable `exercise_pivot`

In [148]:
population = pd.read_csv(r"./data/pop_censuspt_2021.csv", sep=";")
population.head(1)

,Year,Location_Code,District,Municipality,Parish,Sex,Age,Population,Notes,Population_corrected
0,2021,170320,Vila Real,Chaves,Oura,F,65 and older,100,NaN,100

In [156]:
exercise_pivot = population.pivot_table(
    index = ["District", "Municipality", "Parish"],
    columns= "Sex",
    values = "Population",
    aggfunc = "sum",
)

exercise_pivot

Sex                                                                                 F  \
District Municipality       Parish
Aveiro   Albergaria-a-Velha Albergaria-a-Velha e Valmaior                        5720
                            Alquerubim                                           1137
                            Angeja                                                984
                            Branca                                               2770
                            Ribeira de Fr√°guas                                    749
...                                                                               ...
√âvora    √âvora              Uni√£o das freguesias de Malagueira e Horta das ...  11352
                            Uni√£o das freguesias de Nossa Senhora da Toureg...    513
                            Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicent...    547
                            Uni√£o das freguesias de S√£o Sebasti√£o da Gieste...    472
                            Uni√£o das freguesias de √âvora (S√£o Mamede, S√©, ...   2376

Sex                                                                                 M
District Municipality       Parish
Aveiro   Albergaria-a-Velha Albergaria-a-Velha e Valmaior                        5338
                            Alquerubim                                           1096
                            Angeja                                                891
                            Branca                                               2657
                            Ribeira de Fr√°guas                                    745
...                                                                               ...
√âvora    √âvora              Uni√£o das freguesias de Malagueira e Horta das ...  10195
                            Uni√£o das freguesias de Nossa Senhora da Toureg...    482
                            Uni√£o das freguesias de S√£o Man√ßos e S√£o Vicent...    533
                            Uni√£o das freguesias de S√£o Sebasti√£o da Gieste...    455
                            Uni√£o das freguesias de √âvora (S√£o Mamede, S√©, ...   1939

[3091 rows x 2 columns]

2. Create a new column in `exercise_pivot` with the total population of each parish. What are the 10 most populated parishes and to what municipality and district do they belong to? <br>
**Hint**: You may need to revise your answer to question 1 to get the correct answer to this question.

In [157]:
#computing new column
exercise_pivot["Parish_Population"] = exercise_pivot.F + exercise_pivot.M
exercise_pivot.sort_values(by="Parish_Population", ascending = False).head(10) # Answer

Sex                                                                                F  \
District Municipality      Parish
Lisboa   Sintra            Algueir√£o-Mem Martins                               36259
         Cascais           Uni√£o das freguesias de Cascais e Estoril           34576
         Odivelas          Odivelas                                            31710
         Cascais           S√£o Domingos de Rana                                31328
         Oeiras            Uni√£o das freguesias de Oeiras e S√£o Juli√£o da ...  31488
Porto    Vila Nova de Gaia Uni√£o das freguesias de Mafamude e Vilar do Par...  28401
Set√∫bal  Set√∫bal           Set√∫bal (S√£o Sebasti√£o)                             27586
Lisboa   Sintra            Uni√£o das freguesias de Queluz e Belas              27694
Porto    Gondomar          Rio Tinto                                           27250
Set√∫bal  Seixal            Corroios                                            26829

Sex                                                                                M  \
District Municipality      Parish
Lisboa   Sintra            Algueir√£o-Mem Martins                               32390
         Cascais           Uni√£o das freguesias de Cascais e Estoril           29616
         Odivelas          Odivelas                                            27876
         Cascais           S√£o Domingos de Rana                                27910
         Oeiras            Uni√£o das freguesias de Oeiras e S√£o Juli√£o da ...  26606
Porto    Vila Nova de Gaia Uni√£o das freguesias de Mafamude e Vilar do Par...  24443
Set√∫bal  Set√∫bal           Set√∫bal (S√£o Sebasti√£o)                             25041
Lisboa   Sintra            Uni√£o das freguesias de Queluz e Belas              24720
Porto    Gondomar          Rio Tinto                                           23833
Set√∫bal  Seixal            Corroios                                            23977

Sex                                                                            Parish_Population
District Municipality      Parish
Lisboa   Sintra            Algueir√£o-Mem Martins                                           68649
         Cascais           Uni√£o das freguesias de Cascais e Estoril                       64192
         Odivelas          Odivelas                                                        59586
         Cascais           S√£o Domingos de Rana                                            59238
         Oeiras            Uni√£o das freguesias de Oeiras e S√£o Juli√£o da ...              58094
Porto    Vila Nova de Gaia Uni√£o das freguesias de Mafamude e Vilar do Par...              52844
Set√∫bal  Set√∫bal           Set√∫bal (S√£o Sebasti√£o)                                         52627
Lisboa   Sintra            Uni√£o das freguesias de Queluz e Belas                          52414
Porto    Gondomar          Rio Tinto                                                       51083
Set√∫bal  Seixal            Corroios                                                        50806

3. Filter the dataframe `exercise_pivot` in a way that only the parishes with more females than males appear. Sort them in ascending order of total population.

In [158]:
y = exercise_pivot.query("F>M").sort_values(by="Parish_Population", ascending=True).head(5)
y

Sex                                                                                  F  \
District        Municipality          Parish
Ilha das Flores Lajes das Flores      Faj√£zinha                                     38
                Santa Cruz das Flores Caveira                                       40
Viseu           Tabua√ßo               Uni√£o das freguesias de Paradela e Granjinha  51
Guarda          Trancoso              Granja                                        58
Bragan√ßa        Vimioso               Vilar Seco                                    60

Sex                                                                                  M  \
District        Municipality          Parish
Ilha das Flores Lajes das Flores      Faj√£zinha                                     33
                Santa Cruz das Flores Caveira                                       36
Viseu           Tabua√ßo               Uni√£o das freguesias de Paradela e Granjinha  48
Guarda          Trancoso              Granja                                        51
Bragan√ßa        Vimioso               Vilar Seco                                    56

Sex                                                                                 Parish_Population
District        Municipality          Parish
Ilha das Flores Lajes das Flores      Faj√£zinha                                                    71
                Santa Cruz das Flores Caveira                                                      76
Viseu           Tabua√ßo               Uni√£o das freguesias de Paradela e Granjinha                 99
Guarda          Trancoso              Granja                                                      109
Bragan√ßa        Vimioso               Vilar Seco                                                  116

4. Find the 5 most common `Parish` names and the number of times they appear<br>
**Hint**: You may need to reset the index of the dataframe

In [159]:
exercise_pivot.reset_index().Parish.value_counts().sort_values(ascending=False)

Parish
Pinheiro                                                                   6
Santa B√°rbara                                                              5
Rio de Moinhos                                                             5
Carvalhal                                                                  5
Santo Ant√≥nio                                                              4
                                                                          ..
Vale de Figueira                                                           1
Valongo dos Azeites                                                        1
Bordonhos                                                                  1
Figueiredo de Alva                                                         1
Uni√£o das freguesias de √âvora (S√£o Mamede, S√©, S√£o Pedro e Santo Ant√£o)    1
Name: count, Length: 2873, dtype: int64

### That's it for this week. Don't forget to practice!